.gallery {
    padding-top: 150px;
    img {
        display: block;
        margin: auto;
        max-width: 90%;
        
    }
     h2 {
        font-family: $primary_font;
        font-size: 55px;
        font-weight: 900;
        line-height: 65px;
        color: $black;
        margin-left: 25px;
        margin-top: 25px; 
        line-height: 50px;      
        
    }
    p {
        font-family: $secundary_font;
        font-size: 20px;
        font-weight: 200;
        margin-top: 30px;
        color: $darkgrey;
        margin-left: 25px;
        margin-right: 25px;
    }
}

