.img_article {
    display: block;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    background-color: $black;
    
    h2 {
        font-family: $primary_font;
        font-size: 55px;
        font-weight: 900;
        line-height: 50px;
        color: white;
        margin-left: 25px;
        margin-top: 45px;
    }
    p {
        font-family: $secundary_font;
        font-size: 20px;
        font-weight: 200;
        margin-top: 30px;
        color: white;
        margin-left: 25px;
        margin-right: 25px;
        padding-bottom: 55px;
        line-height: 35px;
    }
    
}

@include breakpoint(tablet) {
        .img_article {
                margin: 0;
                padding-top: 45px;
                max-width: 100%;
            }
    }